body {background: rgba(229, 221, 236, 0.473)
      
}
div{
   font-family: verdana;
}

h1{
    text-align: center;
}
            p.right {
                text-align: right;
                
            }
            p.center {
                 text-align: center;
            }

            p#h1 { 
            color: rgb(160, 20, 20);
            }

            p#h2 { 
            color: rgb(243, 237, 237);
            }

            .grenn {
                background: rgb(135, 184, 157);
                padding: 10px;
                margin: 50px 50px 50px 50px; 
               
            }
            p.um-valor {
                border-radius: 5px;
            }

            img.darksouls {
                width: 100%;
            }

            * {
                box-sizing: border-box;
            }

            div.div1 {
                width: 900px;
            } 

            .warapper {overflow: auto; } 
            #main {margin-left: 4px; }
            #leftsidebar {
                float: none;
                width: auto;
            }
            #menulist {
                margin: 0;
                padding: 0;
            }

            .menulist{
                    background: #CDF0F6;
                    border: 1px solid #CDF0F6;
                    border-radius: 4px;
                    list-style: none;
                    margin: 4px;
                    padding: 2px;
                    
            }

            @media screnn and (min-width: 480px ){
                #leftsidebar { width: 200px; float: left;}
                #main {margin-left: 216px;}
            }

           h2.container {
                display: grid | inline-grid;
              }

            img.darksouls {
                justify-self: start | end | center | stretch;
              }
              
              form.cadastro{
                   text-align: center;
                   background: rgba(253, 253, 253, 0.548);
                   padding: 10px;
                   margin: 25px 25px 25px 25px; 
              }
              div.form-group {
                   
                  text-align: center;
              }
              
              .imput{
                  
                   text-align: center;
              }

              .cadastro2{
                background: rgba(255, 255, 255, 0.548);
                padding: 7px;
                margin: 25px 25px 25px 25px; 
                font-size: 15px;
              }

              .p2{
                font-size: 15px;
              }

            /* MENU LATERAL */

              .overlay {
                /* Height & width depends on how you want to reveal the overlay (see JS below) */    
                height: 100%;
                width: 0;
                position: fixed; /* Stay in place */
                z-index: 1; /* Sit on top */
                left: 0;
                top: 0;
                background-color: rgb(0,0,0); /* Black fallback color */
                background-color: rgba(0,0,0, 0.9); /* Black w/opacity */
                overflow-x: hidden; /* Disable horizontal scroll */
                transition: 0.5s; /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
              }
              
              /* Position the content inside the overlay */
              .overlay-content {
                position: relative;
                top: 25%; /* 25% from the top */
                width: 100%; /* 100% width */
                text-align: center; /* Centered text/links */
                margin-top: 30px; /* 30px top margin to avoid conflict with the close button on smaller screens */
              }
              
              /* The navigation links inside the overlay */
              .overlay a {
                padding: 8px;
                text-decoration: none;
                font-size: 36px;
                color: #818181;
                display: block; /* Display block instead of inline */
                transition: 0.3s; /* Transition effects on hover (color) */
              }
              
              /* When you mouse over the navigation links, change their color */
              .overlay a:hover, .overlay a:focus {
                color: #f1f1f1;
              }
              
              /* Position the close button (top right corner) */
              .overlay .closebtn {
                position: absolute;
                top: 20px;
                right: 45px;
                font-size: 60px;
              }
              
              /* When the height of the screen is less than 450 pixels, change the font-size of the links and position the close button again, so they don't overlap */
              @media screen and (max-height: 450px) {
                .overlay a {font-size: 20px}
                .overlay .closebtn {
                  font-size: 40px;
                  top: 15px;
                  right: 35px;
                }
              }


              * {box-sizing:border-box}



              /* CARROSEL */

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

.borde{

    background: rgb(0, 0, 0);
    border: 1px solid rgb(0, 0, 0);

}